$cd-btn: #011c37;
$cd-txt: #15DEA5;
$cd-btn-start: white;
$ball-size: 15rem;
$cd-box: rgb(178, 227, 241);
$cd-txt2: #6300a0;
$cd-danger: #b20a37;


body{
    margin: 20px;
}

/*Retour à la page principale*/
.portfolio {
    background: $cd-btn-start;
    color: $cd-txt;
    width: 15rem;
    text-align: center;
    margin-left: 50px;
    font-size: 1rem;
    cursor: pointer;
    padding: 1rem;
    border: 4px solid $cd-btn;
    border-radius: 10rem;
    position: relative;
    transform: scale(1);
    transition: transform 450ms, background-color 300mx 150ms;
    &:hover {
        transform: scale(1.15);
        background-color: $cd-txt;
    }
}

/* Bouton "vois comme je grandis*/
.btn {
    background: $cd-btn;
    color: $cd-txt;
    width: 30%;
    font-size: 1rem;
    text-align: center;
    cursor: pointer;
    padding: 1;
    border-radius: 10rem;
    transform: scale(1);
    transition: transform 400ms;
    &:hover { 
        transform: scale(1.15);
  }
}

/*formulaire*/
.form {
    &__group {
        & input {
            border: 2px solid $cd-box;
            border-radius: 100rem;
            color: $cd-txt2;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 1rem;
            outline: none;
            padding: .5rem;
            width: 50%;
            transition: background-color 500ms;
            &:focus {
                border: 2px solid $cd-txt2;
            }  
            &:not(:focus):invalid {
                background: $cd-danger;
                border: 2px solid $cd-danger;
                color: $cd-btn-start;
            }
        }
    }
}

/*Modifier les éléments voisin*/
.btn2 {
    background: $cd-btn;
    color: white;
    text-align: center;
    font-size: 1rem;
    width: 35%;
    cursor: pointer;
    padding: 1rem;
    border-radius: 10rem;
    &:active + .ball{
        transform: scale(1.0);
    }
}
.ball {
    width: $ball-size;
    height: $ball-size;
    background: $cd-txt;
    margin-bottom: 1rem;
    border-radius: $ball-size * 0.5;
    transform: scale(0.1);
    transition: transform 4000ms;
}

/*Force mètre en cours => à regler la distance du curseur*/
$trans-dur:2000ms;

.forcemetre {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    height: 500px;
    margin-left: 25px;
    position: relative;
}

.jauge {
    height: 500px;
    width: 3rem;
    margin-left: 15px;
    background: linear-gradient(to top, $cd-txt, yellow, $cd-danger);
    border-radius: 25px;
    border: 2px solid blue;
}

.appuyer {
    background: $cd-btn;
    color: white;
    text-align: center;
    padding-top: 5px;
    margin-top: 15px;
    font-size: 1rem;
    width: 100px;
    height: 30px;
    cursor: pointer;
    border-radius: 25px;
    &:active + .curseur {
        transform: translateY(-865%);
    }
}

.curseur {
    width: 45px;
    height: 45px;
    margin-left: 18px;
    margin-top: -145px;
    background: $cd-danger;
    border-radius: 25px;
    border: 1px solid $cd-btn-start;
    transform: translateY(100%);
    transition: transform $trans-dur cubic-bezier(.42, 0, .58, 1);
}
