$cd-btn: #011c37;
$cd-txt: #15DEA5;
$cd-btn-start: white;
$ball-size: 15rem;
$cd-box: rgb(178, 227, 241);
$cd-txt2: #6300a0;
$cd-danger: #b20a37;

body{
    margin: 20px;
}

/*Retour à la page principale*/
.portfolio {
    background: $cd-btn-start;
    color: $cd-txt;
    width: 15rem;
    text-align: center;
    margin-left: 50px;
    font-size: 1rem;
    cursor: pointer;
    padding: 1rem;
    border: 4px solid $cd-btn;
    border-radius: 10rem;
    position: relative;
    transform: scale(1);
    transition: transform 450ms, background-color 300mx 150ms;
    &:hover {
        transform: scale(1.15);
        background-color: $cd-txt;
    }
}

/* Bouton "vois comme je grandis*/
.btn {
    background: $cd-btn;
    color: $cd-txt;
    width: 30%;
    font-size: 1rem;
    text-align: center;
    cursor: pointer;
    padding: 1;
    border-radius: 10rem;
    transform: scale(1);
    transition: transform 400ms;
    &:hover { 
        transform: scale(1.15);
  }
}

/*formulaire*/
.form {
    &__group {
        & input {
            border: 2px solid $cd-box;
            border-radius: 100rem;
            color: $cd-txt2;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 1rem;
            outline: none;
            padding: .5rem;
            width: 50%;
            transition: background-color 500ms;
            &:focus {
                border: 2px solid $cd-txt2;
            }  
            &:not(:focus):invalid {
                background: $cd-danger;
                border: 2px solid $cd-danger;
                color: $cd-btn-start;
            }
        }
    }
}

/*Modifier les éléments voisin*/
.btn2 {
    background: $cd-btn;
    color: white;
    text-align: center;
    font-size: 1rem;
    width: 35%;
    cursor: pointer;
    padding: 1rem;
    border-radius: 10rem;
    &:active + .ball{
        transform: scale(1.0);
    }
}

.ball {
    width: $ball-size;
    height: $ball-size;
    background: $cd-txt;
    margin-bottom: 1rem;
    border-radius: $ball-size * 0.5;
    transform: scale(0.1);
    transition: transform 4000ms;
}

/*Force mètre en cours => à regler la distance du curseur*/
$trans-dur:2000ms;

.forcemetre {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    height: 500px;
    margin-left: 25px;
    margin-bottom: 100px;
    position: relative;
}

.jauge {
    height: 500px;
    width: 3rem;
    margin-left: 15px;
    background: linear-gradient(to top, $cd-txt, yellow, $cd-danger);
    border-radius: 25px;
    border: 2px solid blue;
}

.appuyer {
    background: $cd-btn;
    color: white;
    text-align: center;
    padding-top: 5px;
    margin-top: 15px;
    font-size: 1rem;
    width: 100px;
    height: 30px;
    cursor: pointer;
    border-radius: 25px;
    &:active + .curseur {
        transform: translateY(-865%);
    }
}

.curseur {
    width: 45px;
    height: 45px;
    margin-left: 18px;
    margin-top: -145px;
    background: $cd-danger;
    border-radius: 25px;
    border: 1px solid $cd-btn-start;
    transform: translateY(100%);
    transition: transform $trans-dur cubic-bezier(.42, 0, .58, 1);
}

/*La propriété transform*/
.boutontransforme {
    width: 200px;
    height: 50px;
    font-size: large;
    text-align: center;
    padding-top: 20px;
    margin-bottom: 25px;
    background-color: $cd-txt2;
    cursor: pointer;
    color: white;
    &:hover + .boite1 {
        transform: scale(3, 0.5);
    }
}

.boite1 {
    height: 100px;
    width: 100px;
    margin-left: 100px;
    background-color: $cd-txt;
    transition: transform 330ms ease-in-out;
} 

.boutontransforme2 {
    width: 200px;
    height: 50px;
    font-size: large;
    text-align: center;
    padding-top: 20px;
    margin-bottom: 25px;
    background-color: $cd-txt2;
    cursor: pointer;
    color: white;
    &:hover + .boite2 {
        transform: translate(150px, -7vh);
    }
}

.boite2 {
    height: 100px;
    width: 100px;
    margin-left: 100px;
    background-color: $cd-txt;
    transition: transform 330ms ease-in-out;
}

.boutontransforme3 {
    width: 200px;
    height: 50px;
    font-size: large;
    text-align: center;
    padding-top: 20px;
    margin-bottom: 25px;
    background-color: $cd-txt2;
    cursor: pointer;
    color: white;
    &:hover + .boite3 {
        transform: scale(1);
        span {
transform: translateY(0);
        }
        
    }
}

.boite3 {
    height: 100px;
    width: 100px;
    display: flex;
    vertical-align: middle;
    margin-left: 100px;
    background-color: $cd-txt;
    color: white;
    transform: scale(0.1);
    transition: transform 330ms ease-in-out;
    overflow: hidden;
    span {
        display: inline-block;
        transform: translateY(250%);
        transition: transform 280ms ease-out 50ms;
    }
}

.boutontransforme4 {
    width: 200px;
    height: 50px;
    font-size: large;
    text-align: center;
    padding-top: 20px;
    margin-bottom: 25px;
    background-color: $cd-txt2;
    cursor: pointer;
    color: white;
    &:hover + .boxes {
        & > .boxes--rotDegrees {
            transform: rotate(0deg);
        }
        & > .boxes--rotTurns {
            transform: rotate(0turn);
        }
    }
}

.boxes__base {
    height: 100px;
        width: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 100px;
        text-align: center;
        background-color: $cd-txt;
        color: white;
}

.boxes {
    display: flex;
    flex-direction: row;
    &--rotDegrees {
        transform: rotate(-360deg);
        transition: transform 500ms ease-in-out;
    }
    &--rotTurns {
        background: pink;
        transform: rotate(-1turn);
        transition: transform 500ms ease-in-out;
    }
}

.boutontransforme5 {
    width: 200px;
    height: 50px;
    font-size: large;
    text-align: center;
    padding-top: 20px;
    margin-bottom: 25px;
    background-color: $cd-txt2;
    cursor: pointer;
    color: white;
    &:hover + .boite5 {
        transform: scale(1) rotate(0deg);
    span {
        transform: translateY(0);
        }      
    }
}

.boite5 {
    height: 100px;
    width: 100px;
    display: flex;
    text-align: center;
    font-size: x-large;
    margin-left: 100px;
    background-color: $cd-txt;
    color: white;
    overflow: hidden;
    transform: scale(.1) rotate(-90deg);
    transition: transform 330ms ease-in-out;
    span {
        transform: translateY(250%);
        transition: transform 280ms ease-out 50ms;
        display: block;
    }
}

.boutontransforme6 {
    width: 200px;
    height: 50px;
    font-size: large;
    text-align: center;
    padding-top: 20px;
    margin-bottom: 25px;
    background-color: $cd-txt2;
    cursor: pointer;
    color: white;
    &:hover + .boxes6 {
        & > .boxes6--rotDegrees {
            transform: translate(200%) scale(2);
        }
        & > .boxes6--rotTurns {
            transform: scale(2) translate(200%);
        }
    }
}

.boxes6__base6 {
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
    text-align: center;
    background-color: $cd-txt;
    color: white;
}

.boxes6 {
    &--rotDegrees {
        transform: rotate(-360deg);
        transition: transform 500ms ease-in-out;
    }
    &--rotTurns {
        background: pink;
        transform: rotate(-1turn);
        transition: transform 500ms ease-in-out;
    }
}

.boutontransforme7 {
    width: 200px;
    height: 50px;
    font-size: large;
    text-align: center;
    padding-top: 20px;
    margin-bottom: 25px;
    background-color: $cd-txt2;
    cursor: pointer;
    color: white;
    &:hover + .dim{
        transform: perspective(0px) rotateY(0deg);
    }
}

.dim {
    height: 100px;
    width: 100px;   
    background-color: $cd-txt;
    transform: perspective(150px) rotateY(75deg);
    transition: transform 330ms ease-in-out;
}

.charge {
    width: 200px;
    height: 25px;
    font-size: large;
    text-align: center;
    margin-bottom: 25px;
    border-radius: 25px;
    background-color: $cd-txt;
    cursor: pointer;
    color: white;
    &:active {
    & + .progress {
        & > .progress__bar {
            transform: scaleX(1);
        }
    }
    }  
}

.progress {
    width: 500px;
    height: 30px;
    border: solid 2px $cd-btn;
    background: white;
    &__bar {
        background-color: $cd-txt;
        width: 490px;
        height: 20px;
        margin: auto;
        margin: 5px;
        transform-origin: left;
        transform: scaleX(0);
        transition: transform 1000ms cubic-bezier(.32,0,.07,1);
    }
}

$mint: #15dea5;
$navy: #022F40;

.opacity {
margin:300px auto;
display: flex;
width: 75%;
align-items: center !important;
justify-content: center !important;
font-style: italic !important;
font-weight: 800 !important;
color: white;
font-family: 'Montserrat', sans-serif;

  .btn3 {
    border-radius: 25px;
    background-color: $mint;
    font-size: 45px !important;
    padding: 30px 45px;
    position: relative;
    z-index: 1;
    cursor: pointer;
    &:hover {
      border-radius: 25px;
        &::after {
          border-radius: 25px;
            opacity: 1;
        }
    }
    &::after {
      border-radius: 25px;
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: radial-gradient(circle, lighten($mint, 5) 0%, darken($mint, 10) 100%);
        opacity: 0;
        z-index: -1;
        transition: opacity 250ms;
    }
}
}