@charset "UTF-8";
body {
  margin: 20px;
}

/*Retour à la page principale*/
.portfolio {
  background: white;
  color: #15DEA5;
  width: 15rem;
  text-align: center;
  margin-left: 50px;
  font-size: 1rem;
  cursor: pointer;
  padding: 1rem;
  border: 4px solid #011c37;
  border-radius: 10rem;
  position: relative;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: background-color 300mx 150ms, -webkit-transform 450ms;
  transition: background-color 300mx 150ms, -webkit-transform 450ms;
  transition: transform 450ms, background-color 300mx 150ms;
  transition: transform 450ms, background-color 300mx 150ms, -webkit-transform 450ms;
}

.portfolio:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
  background-color: #15DEA5;
}

/* Bouton "vois comme je grandis*/
.btn {
  background: #011c37;
  color: #15DEA5;
  width: 30%;
  font-size: 1rem;
  text-align: center;
  cursor: pointer;
  padding: 1;
  border-radius: 10rem;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 400ms;
  transition: -webkit-transform 400ms;
  transition: transform 400ms;
  transition: transform 400ms, -webkit-transform 400ms;
}

.btn:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

/*formulaire*/
.form__group input {
  border: 2px solid #b2e3f1;
  border-radius: 100rem;
  color: #6300a0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  outline: none;
  padding: .5rem;
  width: 50%;
  -webkit-transition: background-color 500ms;
  transition: background-color 500ms;
}

.form__group input:focus {
  border: 2px solid #6300a0;
}

.form__group input:not(:focus):invalid {
  background: #b20a37;
  border: 2px solid #b20a37;
  color: white;
}

/*Modifier les éléments voisin*/
.btn2 {
  background: #011c37;
  color: white;
  text-align: center;
  font-size: 1rem;
  width: 35%;
  cursor: pointer;
  padding: 1rem;
  border-radius: 10rem;
}

.btn2:active + .ball {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.ball {
  width: 15rem;
  height: 15rem;
  background: #15DEA5;
  margin-bottom: 1rem;
  border-radius: 7.5rem;
  -webkit-transform: scale(0.1);
          transform: scale(0.1);
  -webkit-transition: -webkit-transform 4000ms;
  transition: -webkit-transform 4000ms;
  transition: transform 4000ms;
  transition: transform 4000ms, -webkit-transform 4000ms;
}

/*Force mètre en cours => à regler la distance du curseur*/
.forcemetre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  height: 500px;
  margin-left: 25px;
  position: relative;
}

.jauge {
  height: 500px;
  width: 3rem;
  margin-left: 15px;
  background: -webkit-gradient(linear, left bottom, left top, from(#15DEA5), color-stop(yellow), to(#b20a37));
  background: linear-gradient(to top, #15DEA5, yellow, #b20a37);
  border-radius: 25px;
  border: 2px solid blue;
}

.appuyer {
  background: #011c37;
  color: white;
  text-align: center;
  padding-top: 5px;
  margin-top: 15px;
  font-size: 1rem;
  width: 100px;
  height: 30px;
  cursor: pointer;
  border-radius: 25px;
}

.appuyer:active + .curseur {
  -webkit-transform: translateY(-865%);
          transform: translateY(-865%);
}

.curseur {
  width: 45px;
  height: 45px;
  margin-left: 18px;
  margin-top: -145px;
  background: #b20a37;
  border-radius: 25px;
  border: 1px solid white;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 2000ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: -webkit-transform 2000ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: transform 2000ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: transform 2000ms cubic-bezier(0.42, 0, 0.58, 1), -webkit-transform 2000ms cubic-bezier(0.42, 0, 0.58, 1);
}
/*# sourceMappingURL=style.css.map */