@charset "UTF-8";
body {
  margin: 20px;
}

/*Retour à la page principale*/
.portfolio {
  background: white;
  color: #15DEA5;
  width: 15rem;
  text-align: center;
  margin-left: 50px;
  font-size: 1rem;
  cursor: pointer;
  padding: 1rem;
  border: 4px solid #011c37;
  border-radius: 10rem;
  position: relative;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: background-color 300mx 150ms, -webkit-transform 450ms;
  transition: background-color 300mx 150ms, -webkit-transform 450ms;
  transition: transform 450ms, background-color 300mx 150ms;
  transition: transform 450ms, background-color 300mx 150ms, -webkit-transform 450ms;
}

.portfolio:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
  background-color: #15DEA5;
}

/* Bouton "vois comme je grandis*/
.btn {
  background: #011c37;
  color: #15DEA5;
  width: 30%;
  font-size: 1rem;
  text-align: center;
  cursor: pointer;
  padding: 1;
  border-radius: 10rem;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 400ms;
  transition: -webkit-transform 400ms;
  transition: transform 400ms;
  transition: transform 400ms, -webkit-transform 400ms;
}

.btn:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

/*formulaire*/
.form__group input {
  border: 2px solid #b2e3f1;
  border-radius: 100rem;
  color: #6300a0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  outline: none;
  padding: .5rem;
  width: 50%;
  -webkit-transition: background-color 500ms;
  transition: background-color 500ms;
}

.form__group input:focus {
  border: 2px solid #6300a0;
}

.form__group input:not(:focus):invalid {
  background: #b20a37;
  border: 2px solid #b20a37;
  color: white;
}

/*Modifier les éléments voisin*/
.btn2 {
  background: #011c37;
  color: white;
  text-align: center;
  font-size: 1rem;
  width: 35%;
  cursor: pointer;
  padding: 1rem;
  border-radius: 10rem;
}

.btn2:active + .ball {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.ball {
  width: 15rem;
  height: 15rem;
  background: #15DEA5;
  margin-bottom: 1rem;
  border-radius: 7.5rem;
  -webkit-transform: scale(0.1);
          transform: scale(0.1);
  -webkit-transition: -webkit-transform 4000ms;
  transition: -webkit-transform 4000ms;
  transition: transform 4000ms;
  transition: transform 4000ms, -webkit-transform 4000ms;
}

/*Force mètre en cours => à regler la distance du curseur*/
.forcemetre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  height: 500px;
  margin-left: 25px;
  margin-bottom: 100px;
  position: relative;
}

.jauge {
  height: 500px;
  width: 3rem;
  margin-left: 15px;
  background: -webkit-gradient(linear, left bottom, left top, from(#15DEA5), color-stop(yellow), to(#b20a37));
  background: linear-gradient(to top, #15DEA5, yellow, #b20a37);
  border-radius: 25px;
  border: 2px solid blue;
}

.appuyer {
  background: #011c37;
  color: white;
  text-align: center;
  padding-top: 5px;
  margin-top: 15px;
  font-size: 1rem;
  width: 100px;
  height: 30px;
  cursor: pointer;
  border-radius: 25px;
}

.appuyer:active + .curseur {
  -webkit-transform: translateY(-865%);
          transform: translateY(-865%);
}

.curseur {
  width: 45px;
  height: 45px;
  margin-left: 18px;
  margin-top: -145px;
  background: #b20a37;
  border-radius: 25px;
  border: 1px solid white;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 2000ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: -webkit-transform 2000ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: transform 2000ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: transform 2000ms cubic-bezier(0.42, 0, 0.58, 1), -webkit-transform 2000ms cubic-bezier(0.42, 0, 0.58, 1);
}

/*La propriété transform*/
.boutontransforme {
  width: 200px;
  height: 50px;
  font-size: large;
  text-align: center;
  padding-top: 20px;
  margin-bottom: 25px;
  background-color: #6300a0;
  cursor: pointer;
  color: white;
}

.boutontransforme:hover + .boite1 {
  -webkit-transform: scale(3, 0.5);
          transform: scale(3, 0.5);
}

.boite1 {
  height: 100px;
  width: 100px;
  margin-left: 100px;
  background-color: #15DEA5;
  -webkit-transition: -webkit-transform 330ms ease-in-out;
  transition: -webkit-transform 330ms ease-in-out;
  transition: transform 330ms ease-in-out;
  transition: transform 330ms ease-in-out, -webkit-transform 330ms ease-in-out;
}

.boutontransforme2 {
  width: 200px;
  height: 50px;
  font-size: large;
  text-align: center;
  padding-top: 20px;
  margin-bottom: 25px;
  background-color: #6300a0;
  cursor: pointer;
  color: white;
}

.boutontransforme2:hover + .boite2 {
  -webkit-transform: translate(150px, -7vh);
          transform: translate(150px, -7vh);
}

.boite2 {
  height: 100px;
  width: 100px;
  margin-left: 100px;
  background-color: #15DEA5;
  -webkit-transition: -webkit-transform 330ms ease-in-out;
  transition: -webkit-transform 330ms ease-in-out;
  transition: transform 330ms ease-in-out;
  transition: transform 330ms ease-in-out, -webkit-transform 330ms ease-in-out;
}

.boutontransforme3 {
  width: 200px;
  height: 50px;
  font-size: large;
  text-align: center;
  padding-top: 20px;
  margin-bottom: 25px;
  background-color: #6300a0;
  cursor: pointer;
  color: white;
}

.boutontransforme3:hover + .boite3 {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.boutontransforme3:hover + .boite3 span {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.boite3 {
  height: 100px;
  width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  vertical-align: middle;
  margin-left: 100px;
  background-color: #15DEA5;
  color: white;
  -webkit-transform: scale(0.1);
          transform: scale(0.1);
  -webkit-transition: -webkit-transform 330ms ease-in-out;
  transition: -webkit-transform 330ms ease-in-out;
  transition: transform 330ms ease-in-out;
  transition: transform 330ms ease-in-out, -webkit-transform 330ms ease-in-out;
  overflow: hidden;
}

.boite3 span {
  display: inline-block;
  -webkit-transform: translateY(250%);
          transform: translateY(250%);
  -webkit-transition: -webkit-transform 280ms ease-out 50ms;
  transition: -webkit-transform 280ms ease-out 50ms;
  transition: transform 280ms ease-out 50ms;
  transition: transform 280ms ease-out 50ms, -webkit-transform 280ms ease-out 50ms;
}

.boutontransforme4 {
  width: 200px;
  height: 50px;
  font-size: large;
  text-align: center;
  padding-top: 20px;
  margin-bottom: 25px;
  background-color: #6300a0;
  cursor: pointer;
  color: white;
}

.boutontransforme4:hover + .boxes > .boxes--rotDegrees {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.boutontransforme4:hover + .boxes > .boxes--rotTurns {
  -webkit-transform: rotate(0turn);
          transform: rotate(0turn);
}

.boxes__base {
  height: 100px;
  width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 100px;
  text-align: center;
  background-color: #15DEA5;
  color: white;
}

.boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.boxes--rotDegrees {
  -webkit-transform: rotate(-360deg);
          transform: rotate(-360deg);
  -webkit-transition: -webkit-transform 500ms ease-in-out;
  transition: -webkit-transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out, -webkit-transform 500ms ease-in-out;
}

.boxes--rotTurns {
  background: pink;
  -webkit-transform: rotate(-1turn);
          transform: rotate(-1turn);
  -webkit-transition: -webkit-transform 500ms ease-in-out;
  transition: -webkit-transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out, -webkit-transform 500ms ease-in-out;
}

.boutontransforme5 {
  width: 200px;
  height: 50px;
  font-size: large;
  text-align: center;
  padding-top: 20px;
  margin-bottom: 25px;
  background-color: #6300a0;
  cursor: pointer;
  color: white;
}

.boutontransforme5:hover + .boite5 {
  -webkit-transform: scale(1) rotate(0deg);
          transform: scale(1) rotate(0deg);
}

.boutontransforme5:hover + .boite5 span {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.boite5 {
  height: 100px;
  width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  font-size: x-large;
  margin-left: 100px;
  background-color: #15DEA5;
  color: white;
  overflow: hidden;
  -webkit-transform: scale(0.1) rotate(-90deg);
          transform: scale(0.1) rotate(-90deg);
  -webkit-transition: -webkit-transform 330ms ease-in-out;
  transition: -webkit-transform 330ms ease-in-out;
  transition: transform 330ms ease-in-out;
  transition: transform 330ms ease-in-out, -webkit-transform 330ms ease-in-out;
}

.boite5 span {
  -webkit-transform: translateY(250%);
          transform: translateY(250%);
  -webkit-transition: -webkit-transform 280ms ease-out 50ms;
  transition: -webkit-transform 280ms ease-out 50ms;
  transition: transform 280ms ease-out 50ms;
  transition: transform 280ms ease-out 50ms, -webkit-transform 280ms ease-out 50ms;
  display: block;
}

.boutontransforme6 {
  width: 200px;
  height: 50px;
  font-size: large;
  text-align: center;
  padding-top: 20px;
  margin-bottom: 25px;
  background-color: #6300a0;
  cursor: pointer;
  color: white;
}

.boutontransforme6:hover + .boxes6 > .boxes6--rotDegrees {
  -webkit-transform: translate(200%) scale(2);
          transform: translate(200%) scale(2);
}

.boutontransforme6:hover + .boxes6 > .boxes6--rotTurns {
  -webkit-transform: scale(2) translate(200%);
          transform: scale(2) translate(200%);
}

.boxes6__base6 {
  height: 100px;
  width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 100px;
  text-align: center;
  background-color: #15DEA5;
  color: white;
}

.boxes6--rotDegrees {
  -webkit-transform: rotate(-360deg);
          transform: rotate(-360deg);
  -webkit-transition: -webkit-transform 500ms ease-in-out;
  transition: -webkit-transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out, -webkit-transform 500ms ease-in-out;
}

.boxes6--rotTurns {
  background: pink;
  -webkit-transform: rotate(-1turn);
          transform: rotate(-1turn);
  -webkit-transition: -webkit-transform 500ms ease-in-out;
  transition: -webkit-transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out, -webkit-transform 500ms ease-in-out;
}

.boutontransforme7 {
  width: 200px;
  height: 50px;
  font-size: large;
  text-align: center;
  padding-top: 20px;
  margin-bottom: 25px;
  background-color: #6300a0;
  cursor: pointer;
  color: white;
}

.boutontransforme7:hover + .dim {
  -webkit-transform: perspective(0px) rotateY(0deg);
          transform: perspective(0px) rotateY(0deg);
}

.dim {
  height: 100px;
  width: 100px;
  background-color: #15DEA5;
  -webkit-transform: perspective(150px) rotateY(75deg);
          transform: perspective(150px) rotateY(75deg);
  -webkit-transition: -webkit-transform 330ms ease-in-out;
  transition: -webkit-transform 330ms ease-in-out;
  transition: transform 330ms ease-in-out;
  transition: transform 330ms ease-in-out, -webkit-transform 330ms ease-in-out;
}

.charge {
  width: 200px;
  height: 25px;
  font-size: large;
  text-align: center;
  margin-bottom: 25px;
  border-radius: 25px;
  background-color: #15DEA5;
  cursor: pointer;
  color: white;
}

.charge:active + .progress > .progress__bar {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.progress {
  width: 500px;
  height: 30px;
  border: solid 2px #011c37;
  background: white;
}

.progress__bar {
  background-color: #15DEA5;
  width: 490px;
  height: 20px;
  margin: auto;
  margin: 5px;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 1000ms cubic-bezier(0.32, 0, 0.07, 1);
  transition: -webkit-transform 1000ms cubic-bezier(0.32, 0, 0.07, 1);
  transition: transform 1000ms cubic-bezier(0.32, 0, 0.07, 1);
  transition: transform 1000ms cubic-bezier(0.32, 0, 0.07, 1), -webkit-transform 1000ms cubic-bezier(0.32, 0, 0.07, 1);
}

.opacity {
  margin: 300px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 75%;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
  font-style: italic !important;
  font-weight: 800 !important;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

.opacity .btn3 {
  border-radius: 25px;
  background-color: #15dea5;
  font-size: 45px !important;
  padding: 30px 45px;
  position: relative;
  z-index: 1;
  cursor: pointer;
}

.opacity .btn3:hover {
  border-radius: 25px;
}

.opacity .btn3:hover::after {
  border-radius: 25px;
  opacity: 1;
}

.opacity .btn3::after {
  border-radius: 25px;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: radial-gradient(circle, #22eab1 0%, #11af82 100%);
  opacity: 0;
  z-index: -1;
  -webkit-transition: opacity 250ms;
  transition: opacity 250ms;
}
/*# sourceMappingURL=style.css.map */